.table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.table caption {
  font-size: var(--font-large);
  margin-bottom: var(--space-medium);
  margin-top: var(--space-medium);
}

.table tr {
  background: var(--light-gray);
  border: 1px solid var(--dark-gray);
}

.table th,
.table td {
  padding: var(--space-medium);
  text-align: left;
  word-break: break-word;
}

.table th {
  font-size: var(--font-medium);
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

@media screen and (max-width: 740px) {
  .table {
    border: 0;
  }

  .table caption {
    font-size: var(--font-large);
  }

  .table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table tr {
    display: block;
    margin-bottom: var(--space-small);
  }

  .table td {
    border-bottom: 1px solid var(--dark-gray);
    display: block;
    font-size: var(--font-small);
    text-align: right;
  }

  .table td:before {
    /* aria-label has no advantage, it won't be read inside a table */
    content: attr(data-label);
    float: left;
    font-weight: 400;
    text-transform: uppercase;
  }

  .table td:last-child {
    border-bottom: 0;
  }
}
